// App-wide global styles

body {
  padding: 50px;
  font: 14px  Helvetica, Arial, sans-serif;
}

body {
  padding: 50px;
  font: 16px  Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header, .header {
  border: 1px solid gold;
  text-align: center;
}

.dz-default.dz-message {
  padding: 30px;
  margin: 30px 0;
  border: 1px dashed grey;
}

.dz-preview.dz-image-preview {
  display: flex;
}

form {
  border: 1px solid grey;
}